@use '../abstracts' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-size: rem(15);
  font-family: 'Overpass', sans-serif;
  font-weight: 400;
  background-color: $very-dark-blue;
  color: $white;
  display: grid;
  min-height: 100vh;
  place-items: center;

  @include sm-max {
    font-size: rem(14);
  }
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

.attribution{
  position: absolute; 
  bottom: 1rem; 
  left: 50%; 
  transform: translateX(-50%);
  min-width: rem(300);
}